<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB-sLisTZaa7nmIqAx3B4b5hR57ZKcssgw</string>
	<key>GCM_SENDER_ID</key>
	<string>222863684265</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.fooddiscoverproject</string>
	<key>PROJECT_ID</key>
	<string>food-discover-project-tii09i</string>
	<key>STORAGE_BUCKET</key>
	<string>food-discover-project-tii09i.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:222863684265:ios:e48365bd256a97065c2fb8</string>
</dict>
</plist>